.background-opacity{
  background-color: rgba(41, 41, 41, 0.5);
  padding-top:2rem;
  height:100px;
  margin-right:7rem;
  margin-left:7rem;
  .margin-for-link{
    margin-left:8.5rem;
  }
  a{
    
    font-family: "lato";
    font-weight: "regular";
    color: white;
    font-size: 23px;
  }
  .active{
    color:$redcolor;
  }
}